<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Upload</title>
    <link rel="stylesheet" type="text/css" href="static/styles/index.css" />
    <!-- External stylesheet -->
  </head>
  <body>
    <div id="uploadContainer">
      <form
        id="uploadForm"
        action="/success"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="file" name="file" id="fileInput" style="display: none;" />
        <div id="dropArea"><h3>Drag and Drop</h1>
            <p>or</p>
            <label id="customLabel" for="fileInput" style="cursor: pointer;"
            >Choose a file</label
          >
          <input
          type="submit"
          value="Upload"
          id="submitButton"
          style="display: none;"
        />


        </div>

        <!-- <label id="customLabel" for="fileInput" style="cursor: pointer;"
          >Choose a file</label
        > -->
      
    </div>

    <script>
        function handleFileSelect() {
  var fileInput = document.getElementById('fileInput');
  var customLabel = document.getElementById('customLabel');
  var submitButton = document.getElementById('submitButton');

  if (fileInput.files.length > 0) {
    var fileNames = Array.from(fileInput.files).map(file => file.name).join(', ');
    customLabel.innerText = fileNames;
    submitButton.style.display = 'inline-block';
  } else {
    customLabel.innerText = 'Choose Excel files';
    submitButton.style.display = 'none';
  }
}

function submitForm() {
  var form = document.getElementById('uploadForm');
  var formData = new FormData(form);

  // Clear existing file data
  formData.delete('file');

  // Append each file to FormData with a unique name
  var fileInput = document.getElementById('fileInput');
  for (const file of fileInput.files) {
    formData.append('files[]', file);
  }

  // Send the FormData object to the server
  fetch('/success', {
    method: 'POST',
    body: formData
  })
  .then(response => {
    // Handle the response from the server
    console.log(response);
  })
  .catch(error => {
    console.error('Error sending form data:', error);
  });
}

function handleDrop(event) {
  event.preventDefault();

  var fileInput = document.getElementById('fileInput');
  var customLabel = document.getElementById('customLabel');
  var submitButton = document.getElementById('submitButton');

  var files = event.dataTransfer.files;

  if (files.length > 0) {
    fileInput.files = files;
    handleFileSelect(); // Check file selection after drop
  }
}

var fileInput = document.getElementById('fileInput');
fileInput.addEventListener('change', handleFileSelect);

var dropArea = document.getElementById('dropArea');
dropArea.addEventListener('dragover', function (event) { event.preventDefault(); });
dropArea.addEventListener('drop', handleDrop);

var submitButton = document.getElementById('submitButton');
submitButton.addEventListener('click', submitForm);

    </script>


  </body>
</html>
